.material-button {
  font-family: "Roboto", sans-serif;
  font-weight: Medium;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  overflow: hidden;
}
.material-button img {
  max-width: 100%;
}

.material-button-icon {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(245, 250, 255, 0.5);
}

.material-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 0;
  color: #171725;
  background-color: #1de9b6;
  line-height: 37px;
  font-size: 37px;
  font-weight: 300;
}

*:focus {
  outline: none;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #666;
  margin: 0;
  padding: 0;
}

#AppBar {
  position: fixed;
  margin: 0;
  padding: 0px;
  top: 0;
  left: 0;
  width: 100%;
  color: #171725;
  background-color: #1de9b6;
}
#AppBar #AppBarToolbar {
  padding: 8px;
  padding-left: 16px;
}
#AppBar h1 {
  font-family: "Roboto", sans-serif;
  font-weight: Medium;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  line-height: 32px;
}

div.toolbar {
  display: flex;
}
div.toolbar div.spacer {
  flex-grow: 1;
}
