version: 2.1

workflows:
  version: 2
  build:
   jobs:
     -build

jobs:
  build:
    docker:
      -image: circleci/node:10.16.3
    steps:
      -checkout
      -run:
        name: install-npm
        command: 'npm install'
      -run:
        name: npm-run-build
        command: 'npm run build'