version: 2.1

workflows:
  version: 2
  build:
   jobs:
     - build:
         filters:
           branches:
             only: master

jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - add_ssh_keys:
          fingerprints:
            - "1c:04:20:36:d7:00:95:18:09:ee:cc:ff:26:d4:3f:1d"
      - checkout
      - run:
          name: install-npm
          command: 'npm install'
      - run:
          name: npm-run-build
          command: 'npm run build'
      - run:
          name: setup-git
          command: 'git config user.email "${GIT_EMAIL_ADDRESS}" && git config user.name "${GIT_USER_NAME}"'
      - run:
          name: npm-run-release
          command: 'npm run release'
      - run:
          name: npm-run-publish
          command: 'git push --follow-tags origin master && npm publish'
