@import material-colors.sass
@import material-fonts.sass

.material-button
  @include TypeButton()
  @include BoxShadow2()
  overflow: hidden
  height: 34px
  margin: 4px
  padding: 4px 16px
  border: none
  vertical-align: middle
  text-align: left
  img 
    max-width: 22px
    max-height: 22px
    margin: 0
    padding: 0
    vertical-align: middle
    &.icon
      margin-left: -8px
      margin-right: 4px

.material-button-icon
  @include BoxShadow0()
  border-radius: 50%
  width: 34px
  height: 34px
  border: 0
  margin: 0
  padding: 0
  @include BackHighlight()
  img
    max-width: 34px
    max-height: 34px

.material-fab
  position: fixed
  text-align: center
  bottom: 16px
  right: 16px
  height: 44px
  width: 44px
  border-radius: 50%
  border: 0
  margin: 0
  padding: 0
  @include ElementColorPrimary()
  line-height: 37px
  font-size: 37px
  font-weight: 300
  