@import material-colors.sass
@import material-fonts.sass

.material-button
  @include  TypeButton()
  overflow: hidden
  img 
    max-width: 100%

.material-button-icon
  border-radius: 50%
  width: 34px
  height: 34px
  border: 0
  margin: 0
  padding: 0
  @include BackHighlight()

.material-fab
  position: fixed
  bottom: 16px
  right: 16px
  height: 44px
  width: 44px
  border-radius: 50%
  border: 0
  @include ElementColorPrimary()
  line-height: 37px
  font-size: 37px
  font-weight: 300